#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: skyblue;
}

/* styles.css */
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center children horizontally */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 30%;
  /* Adjust width as needed */
  text-align: center;
  margin: 10px;
  /* Space between cards */
  min-height: 250px;
  /* Set a minimum height */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

button {
  margin: 4px 2px;
  padding: 12px 20px;
  background-color: #007BFF;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  /* Full width of the card */
  max-width: 150px;
  /* Optional: set a max width */
  box-sizing: border-box;
  /* Include padding and border in the button's total width and height */
}

.card button:hover {
  background-color: #0056b3;
}

.theme-image {
  width: auto;
  /* Full width */
  height: 45vh;
  /* Maintain aspect ratio */
  margin-bottom: 15px;
  /* Space below the image */
}